<!DOCTYPE html>

{% extends "base.html" %} {% block title %}Home{% endblock %} {%block content%}
<div class="container text-center">
    <div class="d-md-flex">
        <div class="col-auto me-auto p-3">
            <img src="{{url_for('static', filename='HMRC-Logo.jpg')}}" width="120" />
        </div>
        <div class="col p-3">
            <h2 class="p-3">Welcome to the Case Management Systems Helpdesk</h2>
        </div>
    </div>
</div>

<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Date Created</th>
        </tr>
    </thead>
    <tbody>
        {% for user in data %}
        <tr>
            <td>{{ user.first_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.created_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
