<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
		<title>{% block title %}Base{% endblock %}</title>
	</head>

	<body class="bg-primary">
		<div class="navbar navbar-expand-lg navbar-static-top bg-primary" data-bs-theme="dark">
			<div class="container">
				<a href="/" class="navbar-brand">CMCC Helpdesk</a>
				<button
					type="button"
					class="navbar-toggler"
					data-bs-toggle="collapse"
					data-bs-target="#navbarResponsive"
					aria-controls="navbarResponsive"
					aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav nav-underline">
						<li class="nav-item"><a class="nav-link ms-2" href="/new_request">New Request</a></li>
						<li class="nav-item"><a class="nav-link ms-2" href="/case_tracker">Track Query</a></li>
						<li class="nav-item"><a class="nav-link ms-2" href="#">FAQ's</a></li>
					</ul>
					<ul class="navbar-nav nav-underline ms-md-auto">
						{% if user.is_authenticated %}
						<li class="nav"><a class="nav-link disabled">Hi {{user.first_name}}!</a></li>
						<li class="nav-item"><a class="nav-link ms-2" href="/logout">Log Out</a></li>
						{% else %}
						<li class="nav-item"><a class="nav-link ms-2" href="/login">Log In</a></li>
						{% endif %}
					</ul>
					<ul class="navbar-nav ms-md-end">
						{% if user.role != null and user.role.id == 1 %}
						<li class="nav-item">
							<a class="nav-link ms-2" href="/admin"><i class="bi bi-diagram-3"></i></a>
						</li>
						{% else %}
						<li class hidden="nav-item">
							<a class="nav-link ms-2" href="/admin"><i class="bi bi-diagram-3"></i></a>
						</li>
						{% endif %}
						<li class="nav-item">
							<a class="nav-link ms-2" href="#"><i class="bi bi-gear"></i></a>
						</li>
						<li class="nav-item">
							<a class="nav-link ms-2" href="#"><i class="bi bi-graph-up-arrow"></i></a>
						</li>
						<li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
							<div class="vr d-none d-lg-flex h-100 mx-lg-2 text-white"></div>
						</li>
						<li class="nav-item">
							<a class="nav-link ms-2" href="#"><i class="bi bi-sun-fill"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			{% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %} {% if category == 'error' %}
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
				{{ message }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label></button>
			</div>
			{% else %}
			<div class="alert alert-success alert-dismissible fade show" role="alert">
				{{ message }}
				<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
			</div>
			{% endif %} {% endfor %} {% endif %} {% endwith %}
			<div class="bg-light p-5">{%block content%} {% endblock %}</div>
		</div>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
			crossorigin="anonymous"></script>
	</body>
</html>
