<!DOCTYPE html>

{% extends "base.html" %} {% block title %}Home{% endblock %} {%block content%}
<div class="container text-center">
<div class="row gx-5">
<img src="https://tse2.mm.bing.net/th/id/OIP.SDCv44P4tUyNDk_uwb6UXQHaFj?w=201&h=180&c=7&r=0&o=5&pid=1.7" class="rounded mx-auto d-block col p-3">
<h1 class="col p-3">Welcome to the Case Management Systems Helpdesk</h1>
</div>
</div>
<h6 class="pt-4 text-center">"Prior to submission, please ensure the following actions (where appropriate) have taken place: "</h6>
<div class="text-start p-4">
	<ul class="nav nav-tabs" role="tablist">
		<li class="nav-item" role="presentation">
			<a class="nav-link active" data-bs-toggle="tab" href="#SuperUser" aria-selected="true" tabindex="1" role="tab">SuperUser</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link" data-bs-toggle="tab" href="#Guidance" aria-selected="false" tabindex="2" role="tab">Guidance</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link" data-bs-toggle="tab" href="#ServiceCentre" aria-selected="false" tabindex="3" role="tab">IT Service Centre</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link" data-bs-toggle="tab" href="#RequestForm" aria-selected="false" tabindex="4" role="tab">Request Form</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link" data-bs-toggle="tab" href="#Duplicates" aria-selected="false" tabindex="4" role="tab">Duplicates</a>
		</li>
	</ul>
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane fade show active" id="SuperUser" role="tabpanel">
			<p>
				You have made contact with a superuser (Lists of Superusers, SPOCs and all relevant Templates can be found in the COPS System Support Hub. They can provide support and answer questions
				in relation to Case Management Systems. If they cannot deal with the enquiry, they may direct you to your manager or ask you to complete the request form.
			</p>
		</div>
		<div class="tab-pane fade" id="Guidance" role="tabpanel">
			<p>You have checked relevant System Guidance and recent Superuser updates/Comms in thev COPS System Support Hub.</p>
		</div>
		<div class="tab-pane fade" id="ServiceCentre" role="tabpanel">
			<p>If the problem is a system error, you will need to report it to the IT Service Centre. 03003 300 003.</p>
		</div>
		<div class="tab-pane fade" id="RequestForm" role="tabpanel">
			<p>
				If the other steps have been actioned and you are unable to resolve the problem and it is not a system error, then you will need to liaise with your Superuser/Manager or Business SPoC
				(dependant on submission type) to complete the request form.
			</p>
		</div>
		<div class="tab-pane fade" id="Duplicates" role="tabpanel">
			<p>If you do decide to contact us, please only include one problem or request per form.</p>
		</div>
	</div>

{% endblock %}
